div.sections {
    display: inline-block;
    width: 100%;
    scroll-margin-top: 69%;
    padding: 45px;
    font-size: 28px;
}


div.section1{
    background-color:rgb(245,240,230);
}

div.section2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    background-size: cover;
}

#navbar {
    position:sticky;
    top:0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    z-index: 1000;

}
#navbar ul{
    color: #182b49;
    list-style: none;
}

#navbar ul li{
    margin-right: 10px;
    display: inline-block;
}

#navbar ul li a{
    text-decoration: none;
    color:#182b49;
    font-size: 28px;
}

#navbar ul li a:hover{
    background-color: #182b49;
    color: white;
}
#navbar ul li:hover{
    background-color: #182b49;
}


div.section3{
    background-color: rgb(245,240,230) ;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
    padding-top: 25px;
}

.images{
    max-width: 100%;
}

.grid-item {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

@media screen and (max-width: 800px) {
    #navbar ul {
        display: none;
    }

    #toplogo {
        max-width: 75%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        grid-template-rows: 2fr;
        grid-row-gap: 1rem;
    }
}
